.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 
.navigation-navigationmenu-icon {
  top: 50%;
  left: 50%;
  color: var(--color-primary);
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all var(--animation-duration-fast)
      var(--animation-curve-primary);
}
 
.navigation-navigationclose-icon {
  top: 50%;
  left: 50%;
  color: var(--color-primary);
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%) rotate(90deg) scale(0.8);
  transition: all var(--animation-duration-fast)
      var(--animation-curve-primary);
}